@font-face {
	font-family: 'Calistoga';
	src: url('../fonts/Calistoga-Regular.eot');
	src: local('Calistoga Regular'), local('Calistoga-Regular'),
			url('../fonts/Calistoga-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Calistoga-Regular.woff2') format('woff2'),
			url('../fonts/Calistoga-Regular.woff') format('woff'),
			url('../fonts/Calistoga-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}